::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #072a5f
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #072a5f
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(1,253,198,0.9)
}

a {
    text-decoration: none;
    color: #00d2f7
}

a:not(.nohover):hover {
    text-shadow: 0 0 0.2em #01fdc7,0 0 0.25em rgba(1,253,199,0.7),0 0 0.3em rgba(1,253,199,0.5),0 0 0.4em rgba(1,253,199,0.3),0 0 0.6em rgba(1,253,199,0.2),0 0 1em rgba(1,253,199,0.1);
    color: #01fdc7
}

a:visited {
    color: #ff6b83
}

body {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    font-family: 'Courier New', monospace;
}

#groupsearch {
    min-width: 20em;
    background:rgb(3, 2, 56);

    order: 0;
    flex-grow: 1;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
}

#groupsearch-ui {
    color: white;
    border-bottom: 1px white solid;
    
    padding: 0.7em;
    order: 0;
}

#groupsearch-ui > input {
    background: black;
    color: white;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    border-radius: 1em;
}

#groupsearch-ui > input:focus {
    background-color: #0060B5;
}

#groupsearch-results {
    min-height: 10em;

    flex-grow: 5;
    order: 1;
}

#groupsearch-results-invisible {
    position: relative;
    height: 0;
    width: 0;
}

#groupsearch-results-box {
    z-index: 100;
    overflow-y: auto;
}

.group-listing {
    border-bottom: 1px white solid;
    color: white;

    display: grid;
    grid-template-columns: 30% auto;
}

.group-listing:hover {
    background-color: #B51770;
}

.group-listing-selected {
    background-color: #01766b;
}

.group-listing > p {
    margin: 0;
    padding: 0.5em;
}

.group-listing-name {
    font-size: 1.2em;
    text-align: center;

    grid-column-start: 1;
}

.group-listing-desc {
    font-size: 0.8em;
    vertical-align: middle;
    grid-column-start: 2;
}

#end-result {
    width: 100%;

    display: flex;
}

#end-result-text {
    width: 100%;
    background-color: rgb(51, 13, 89);
    text-align: center;
    align-items: stretch;
}

#plot {
    min-width: 30em;
    min-height: 60%;
    background: rgb(3, 2, 56);

    order: 1;
    flex-grow: 8;
}

#plot-invisible {
    width: 0;
    height: 0;
}